{% extends "base-dashboard.html" %}

{% block header %}
{% include "header-dashboard.html" %}
{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shared/guest_inactivity_warning.css') }}">
{% endblock %}

{% block body %}
{% if session['is_guest'] and (not session['guest_acknowledged']) %}
<div class='inactivity-warning-overlay'>
	<div class='inactivity-warning-content'>
		<h3 class='inactivity-warning-text'>Warning!</h3>
		<br>
		<h3 class='inactivity-warning-text'>You're logged in as a Guest user. You'll be logged out automatically after 20 mins of inactivity. All of your saved data will be deleted after logout.</h3>
		<form method="POST" action="/guest_acknowledged">
			<button class="inactivity-warning-button" action>I Understand</button>
		</form>
	</div>
</div>
{% endif %}


<div class="hero-body">
	<div class="container has-text-centered">
		<h1 class="title has-text-white">Welcome, {{current_user.username}}!</h1>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include "footer-dashboard.html" %}
{% endblock %}
