<!-- Signup.html-->
{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
	<h3 class="title">Sign Up</h3>
	<div class="box">
		<form method="POST" action="/signup">
			{% if messageUsername%}
			<h1>{{messageUsername}}</h1>
			{%endif%}
			<div class="field">
				<div class="control">
					<input class="input is-large" type="text" name="username" placeholder="Username">
				</div>
			</div>
			
			{% if messagePassword1 %}
			<h1>{{messagePassword1}}</h1>
			{% endif %}

			{% if messagePassword2 %}
                        <h1>{{messagePassword2}}</h1>
                        {% endif %}

			{% if messagePassword3 %}
                        <h1>{{messagePassword3}}</h1>
                        {% endif %}

			{% if messagePassword4 %}
                        <h1>{{messagePassword4}}</h1>
                        {% endif %}

			<div class="field">
				<div class="control">
					<input class="input is-large" type="password" name="password" placeholder="Password">
				</div>
			</div>

			<div class="field">
				<div class="control">
					<input class="input is-large" type="password" name="repeatPassword" placeholder="Re-type Password">
				</div>
			</div>

			<button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
		</form>
	</div>
</div>
{% endblock %}


