
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %} {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

    {% block head_css %} {% endblock %}
</head>

<body class="background-color-blue">
	<section class="hero is-fullheight">

        <div class="hero-head">
            <nav class="navbar dark-background">
                <div class="container">
                    <div id="navbarAuth" class="navbar-menu is-active">
			<div class="navbar-start">
   			    <a href="{{ url_for('auth.home') }}" class="navbar-item gray-background has-text-white">Home</a>
			    <a href="{{ url_for('auth.about') }}" class = "navbar-item gray-background has-text-white">About</a>
			</div>

                        <div class="navbar-end">
			    <div class="navbar-item">
				<div class="buttons">
                            	    <a href="{{ url_for('auth.login') }}" class="button is-primary">Login</a>
                          	    <a href="{{ url_for('auth.signup') }}" class="button is-light">Sign Up</a>
			    	</div>
			    </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>

