<nav class="navbar dark-background">
	<div class="container">
		<div id="navbarAuth" class="navbar-menu is-active">
			<div class="navbar-start">
				<a href="{{ url_for('auth.home') }}" class="navbar-item gray-background has-text-white">Home</a>
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link gray-background has-text-white">About</a>
				
					<div class="navbar-dropdown">
						<a href="{{ url_for('auth.about_site') }}" class = "navbar-item gray-background has-text-white">This Site</a>
						<a href="{{ url_for('auth.about_developer') }}" class = "navbar-item gray-background has-text-white">Site Developer</a>
					</div>
				</div>
			</div>

			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">
						<a href="{{ url_for('auth.login') }}" class="button is-primary">Login</a>
						<a href="{{ url_for('auth.signup') }}" class="button is-light">Sign Up</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
