<!-- Signup.html-->
{% extends "main.html" %}

{% block title %}
<title>Signup</title>
{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth/signup.css') }}">
{% endblock %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block content %}
<div class="column is-4 is-offset-4">
	<h3 class="title has-text-white">Sign Up</h3>
	<div class="box has-background-white">
		<form method="POST" action="/signup">
			{% if usernameError %}
			<h1 class="has-text-danger">{{usernameError}}</h1>
			{% endif %}

			<div class="field">
				<div class="control">
					<input class="input is-large has-background-white input-placeholder-lightgray input-text-color-dark" type="text" name="username" placeholder="Username" value="{{usernameAutofill}}">
				</div>
			</div>
			
			{% if passwordErrors %}
				<ul>
					{% for error in passwordErrors %}
					<li class="has-text-danger">{{error}}</li>
					{% endfor %}
				</ul>
			{% endif %}
			
			<div class="field">
				<div class="control">
					<input class="input is-large has-background-white input-placeholder-lightgray input-text-color-dark" type="password" name="password" placeholder="Password" value="{{passwordAutofill}}">
				</div>
			</div>

			<div class="field">
				<div class="control">
					<input class="input is-large has-background-white input-placeholder-lightgray input-text-color-dark" type="password" name="passwordRepeat" placeholder="Re-type Password" value="{{passwordAutofilg}}">
				</div>
			</div>
			
			<div>
				{% if termsOfServiceError %}
                        	<h1 class="has-text-danger">Read the Terms of Service and click the checkbox</h1>
                        	{% endif %}

				<input type="checkbox" name="terms_of_use">
				<span class="black-text">
					Agree to <a href="{{ url_for('auth.user_terms_of_service') }}" target="_blank" rel="noopener noreferrer">Terms of Use</a>
				</span>
			</div>

			<div> 
				{% if privacyPolicyError %}
                        	<h1 class="has-text-danger">Read the Privacy Policy and click the checkbox</h1>
                        	{% endif %}

				<input type="checkbox" name="privacy_policy">
				<span class="black-text">
					Agree to <a href="{{ url_for('auth.privacy_policy') }}" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
				</span>
			</div>

			<button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
		</form>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}
