
.black-text{
	color: #000 !important;
}

.terms-container {
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
}

.terms-scroll {
    height: 400px;         /* height of the scroll box */
    overflow-y: scroll;    /* vertical scrolling */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    scrollbar-width: thin; /* Firefox */
}

.terms-scroll::-webkit-scrollbar { /* Chrome, Edge, Safari */
    width: 8px;
}

.terms-scroll::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.terms-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.terms-scroll h1{
	font-size: 20pt;
}

.section{
	margin-bottom: 20px;
}
